body {
    font-family: 'Quicksand', sans-serif;
    background: lightcyan;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container section {
    width: 560px;
    margin: 18px;
}